.banner {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  height: 223px;
  position: relative;
  background-size: cover;
  position: relative;
  background-position: 50%;
  border-radius: 25px;
}
.banner::before {
  background-color: rgb(0, 0, 0);
  position: absolute;
  content: "";
  height: 223px;
  border-radius: 25px;
  opacity: 40%;
  width: 80%;
}
h1 {
  color: rgb(187, 22, 22);
  display: grid;
  place-items: center;
  height: 223px;
  z-index: 10;
  position: relative;
}
